<!--
  Generated template for the TodosExPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Exercicios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <ion-item>
            <button ion-button full clear color="pink" (click)="open('HomePage')">Lista 1 - Ex 1</button>
        </ion-item>
        <ion-item>
            <button ion-button full clear color="pink" (click)="open('NovaPaginaPage')">Lista 1,8 - Ex 2 (Login)</button>
        </ion-item>
        <ion-item>
            <button ion-button full clear color="pink" (click)="open('ListaTarefasPage')">Lista 1 - Ex 3</button>
        </ion-item>
        <ion-item>
            <button ion-button full clear color="pink" (click)="open('BindPage')">Lista 2 - Ex 1</button>
        </ion-item>
        <ion-item>
            <button ion-button full clear color="pink" (click)="open('ListaDoisPage')">Lista 2 - Ex 1.2</button>
        </ion-item>
        <ion-item>
            <button ion-button full clear color="pink" (click)="open('CincoCaracterPage')">Lista 2 - Ex 2</button>
        </ion-item>
        <ion-item>
            <button ion-button full clear color="pink" (click)="open('ExercicioUmL2Page')">Lista 2 - Ex 3</button>
        </ion-item>
        <ion-item>
            <button ion-button full clear color="pink" (click)="open('L2E4CardPage')">Lista 2 - Ex 4</button>
        </ion-item>
        <ion-item>
            <button ion-button full clear color="pink" (click)="open('L3E1DataAtivPage')">Lista 3 e 5 - Ex 1,2,3</button>
        </ion-item>
        <ion-item>
                <button ion-button full clear color="pink" (click)="open('ChamadaHttpPage')">Lista 6 e 7 - Ex 1,2,3</button>
        </ion-item>
        <ion-item>
            <button ion-button full clear color="pink" (click)="open('LoginCameraPage')">Lista 9 - Ex 1</button>
        </ion-item>
        <ion-item>
            <button ion-button full clear color="pink" (click)="open('SideMenuPage')">Side Menu</button>
        </ion-item>
        
        
    </ion-list>
</ion-content>
