<!--
  Generated template for the ChamadaHttpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
        <button clear ion-button no-padding (click)="back()"></button>
        <ion-searchbar [(ngModel)]="search" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"></ion-searchbar>
</ion-navbar>    
</ion-header>



<ion-content no-padding>

    <ion-list *ngFor="let news of noticias">
            <ion-card no-padding>
                <ion-label color="darkgreen">
                        {{news.categoria}}
                </ion-label>
                <ion-label color="primary" text-wrap (click)="showContent(news)">
                    {{news.titulo}}
                </ion-label>      
            </ion-card>
    </ion-list>

</ion-content>
