<!--Lista 1 - Exercicio 3
-->
<ion-header>

  <ion-navbar>
        <button clear ion-button (click)="back()" no-padding></button>
    <ion-title>Lista de Tarefas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>

        <ion-label>
          Fazer Exercicios
        </ion-label>
        <ion-checkbox color = "newColor" checked = "true" ng-click="true"></ion-checkbox>
    </ion-item>

    <ion-item>
        <ion-checkbox color="dark"></ion-checkbox>
        <ion-label>
          Fazer Trabalho 1
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label>
         Testar exemplos do Ionic
        </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
