<!--
  Generated template for the GesturesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>GesturesPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card (click)="metodo($event)">
    <ion-item>
      click {{ numero }} vezes.
    </ion-item>
  </ion-card>
  <button ion-button block (click) = "novoAlerta()">
    Clica Aqui!
  </button>


</ion-content>
