<!-- Exercicio 1 - Lista 2
-->
<ion-header>

  <ion-navbar>
        <button clear ion-button (click)="back()" no-padding></button>
    <ion-title>Nova Conta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type = "text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type = "password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <div class = "lbl-group">
   
    <label floating (click)="criarConta()">Criar nova conta?</label>
    
  </div>

  <button ion-button full block (click)="login()">
    <ion-icon name="lock"> Entrar</ion-icon>    
  </button>
  <button ion-button full block (click)="tirarFoto()">
    <ion-icon name="camera"> Tirar Foto</ion-icon>    
  </button>

  <div class="center">
      <img [src]="imgRet" class="foto">
  </div>
</ion-list>

</ion-content>
