<!--
  Generated template for the BindPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = 'pink' >
        <button clear ion-button (click)="back()" no-padding></button>
    <ion-title>Bind Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <img [src] = "imagem">


  <ion-list>
    <ion-item *ngFor = "let disciplina of disciplinas">
      {{ disciplina }}
    </ion-item>
  </ion-list>

</ion-content>
