<!--
  Generated template for the ListaDoisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = 'pink'>
        <button clear ion-button (click)="back()" no-padding></button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-input [(ngModel)] = "title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating> Novo Título </ion-label>
    <ion-input [(ngModel)] = "value"></ion-input>
  </ion-item>



    <h1 *ngIf = "newName">
        Só mostrar se valor = true
    </h1>
    <button ion-button block (click) = "novoNome()">
        Mudar Titulo
    </button>
    
   

  
</ion-content>
