<!--Lista 2 - Exercicio 2
-->
<ion-header>

  <ion-navbar>
    <button clear ion-button (click)="back()" no-padding></button>
      
    <ion-title>Cinco Caracter</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-label>{{ label }}</ion-label>
    <ion-input [ngClass] = "changeLabel()"></ion-input>

    <ion-item>
        <ion-label floating>Digite a frase</ion-label>
        <ion-input [(ngModel)] = "textInput"></ion-input>
    </ion-item>



</ion-content>
