<!--
  Generated template for the BodyContentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button clear ion-button no-padding (click)="back()">Fechar</button>
    <ion-title>Noticia</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
    <ion-card>
        <ion-grid>
            <ion-row>
                <h1 text-wrap>
                    {{titulo}}
                </h1>
            </ion-row>
            <ion-row>
                <h2 style="color: #456b59;" text-wrap>
                    {{categoria}}
                </h2>
            </ion-row>
            <ion-row>
                <h3 style="color: #424242;" text-wrap>
                    {{conteudo}}
                </h3>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>
