<!--
  Generated template for the L3E1AtivModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
        <button ion-button clear (click)="fechar()">Fechar</button>
    <ion-title>Atividade</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-input placeholder="Atividade" [(ngModel)]="name">{{name}}</ion-input>
            </ion-col>
            <ion-col>
                <ion-datetime placeholder="2018-06-01" type="input" displayFormat="YYYY-MM-DD" [(ngModel)]="data">{{data}}</ion-datetime>
            </ion-col>
        </ion-row>
        <ion-row>
                <ion-label style="color:grey; padding-left: 0px;">Trabalho</ion-label>
                <ion-toggle color="pink" disabled="false" type="input" [(ngModel)]="tipo"></ion-toggle>
        </ion-row>
        <ion-row>
            <ion-input text-wrap placeholder="Conteudo" [(ngModel)]="conteudo">{{conteudo}}</ion-input>
        </ion-row>
        <ion-row>
            <ion-label style="color:grey; padding-left: 0px;">Concluído?</ion-label>
            <ion-toggle color="pink" disabled="false" type="input" [(ngModel)]="concluido"></ion-toggle>
        </ion-row>
        <ion-row>
            <ion-col *ngIf="update">
                <button ion-button color="pink" full (click)="saveAtiv()">
                    Salvar
                </button>
            </ion-col>
            <ion-col *ngIf="!update">
                <button ion-button color="darkgreen" full (click)="updateAtiv()">
                    Atualizar
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>


<ion-footer no-border>
    <ion-toolbar *ngIf="!update">
        <button ion-button full color="danger" (click)="presentAlert()">
            Deletar atividade
        </button>
    </ion-toolbar>
</ion-footer>
