<!-- Exercicio 1 - Lista 1
-->

<ion-header>
        <button clear ion-button (click)="back()" no-padding></button>
  <ion-navbar color = "newColor">
    <ion-title>
      Lista de Pessoas
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img src = "assets/imgs/1.jpg">
        </ion-thumbnail>
        <h2>
          Taylor Swift
        </h2>
        <p>
          December 13, 1989
        </p>
        <button ion-button clear item-end>
          View
        </button>
      </ion-item>
      <ion-item>
          <ion-thumbnail item-start>
            <img src = "assets/imgs/2.jpg">
          </ion-thumbnail>
          <h2>
            Hayley Williams
          </h2>
          <p>
            December 27, 1988
          </p>
          <button ion-button clear item-end>
            View
          </button>
        </ion-item>
    </ion-list>

</ion-content>