<!--
  Generated template for the ExercicioUmL2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button clear ion-button (click)="back()" no-padding></button>
    
    <ion-title>Diretivas Classes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div [ngClass]="classes()">
</div>

<button ion-button (click)="toggle('red')"> Vermelho </button>
<button ion-button (click)="toggle('blue')"> Azul </button>
<button ion-button (click)="toggle('green')"> Verde </button>

   
 

</ion-content>
