page-exercicio-um-l2 {

    .bloco{
        height: 50px;
        width: 100%;
        background-color: black;
    }

    .blocored{
        height: 50px;
        width: 100%;
        background-color: red;
    }
    .blocoblue{
        height: 50px;
        width: 100%;
        background-color: blue;
    }
    .blocogreen{
        height: 50px;
        width: 100%;
        background-color: green;
    }
}
