page-l2-e4-card {

    ion-avatar{
        
        width: 100%;
        height: 100%;
    }

    .card-md p{
        color:gray;
    }

    .btn{
       
        width: 90%;
        border-radius: 0px;
        background-color: transparent;
        color: #488aff;
        outline: 1px solid #488aff;
        text-transform: uppercase;
    }
}

