<!--Lista 2 - Ex 4
-->
<ion-header>

  <ion-navbar>
    <button clear ion-button (click)="back()" no-padding></button>
    <ion-title>Card</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
    <ion-card no-padding>
        <ion-grid>
            <ion-row>
                <ion-col col-auto style="width: 70px;">
                    <ion-avatar no-padding>
                        <img style="border-radius: 130px;" [src]="avatar">
                    </ion-avatar>
                </ion-col>
                <ion-col style="text-align: initial">
                    <h2>
                        Big Head
                    </h2>
                    <p>
                        Dono da Bagaça
                    </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <h2 style="color: #424242;">
                    Este cara só pode ser dono do Pied
                    Piper! Um gênio da Computação
                </h2>
            </ion-row>
            <ion-row style="justify-content: center;">
                <button ion-button small full no-padding class="btn">
                    Contato
                </button>
            </ion-row>
        </ion-grid>
    </ion-card>


</ion-content>
