<!-- Exercicio 1 - Lista 2
-->
<ion-header>

  <ion-navbar>
        <button clear ion-button (click)="back()" no-padding></button>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type = "text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type = "password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <div class = "lbl-group">
   
    <label floating (click)="criarConta()">Criar nova conta?</label>
    
  </div>

  <button ion-button full block (click)="login()">
    <ion-icon name="lock"> Entrar</ion-icon>    
  </button>
 
</ion-list>
<div class="center" *ngIf="usuario.logado === 'false'">
    <button ion-button full style="background-color:transparent" (click)="loginFb()">
        <ion-icon name="logo-facebook" style="color:darkblue">Entrar com o facebook</ion-icon>
    </button>
  </div>
  <div class="center" *ngIf="usuario.logado !== 'false'">
      <img [src]="usuario?.foto" class="foto" />
      <h3>Olá, {{ usuario?.nome }}</h3>
      <button ion-button clear (click)="sair()">Sair</button>
  </div>

</ion-content>
