<!--Lista 3 - Exercicio 1
-->
<ion-header>

    <ion-navbar>
        <button ion-button clear (click)="back()"></button>
        <ion-title>Lista de Atividades</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content no-padding>
    <ion-grid *ngFor="let atividade of atividades">
        <ion-row>
            <div class="block"></div>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button text-wrap color="pink" style="width: 100%" (click)="openModal(atividade)">
                            {{atividade.name}}
                </button>
            </ion-col>
            <ion-col>
                <ion-datetime placeholder="2018-06-01" type="input" displayFormat="YYYY-MM-DD" [(ngModel)]="atividade.data">{{atividade.data}}</ion-datetime>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-label style="color:grey; padding-left: 10px;">Trabalho</ion-label>
            <ion-toggle color="pink" disabled="true"[(ngModel)]="atividade.tipo"></ion-toggle>
        </ion-row>
        
        <ion-row style="padding-left:10px">
            <div class="blockContent">
                <ion-input text-wrap placeholder="Conteudo" [(ngModel)]="atividade.conteudo">{{atividade.conteudo}}</ion-input>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-fab mini bottom right #fabbtnm style="position: inherit;">
            <button color="darkgreen" ion-fab id="btn-active" (click)="openModalSave()">
                    <i class="material-icons">add</i>
            </button>
    </ion-fab>
    </ion-toolbar>
</ion-footer>