page-l3-e1-data-ativ {

    ion-datetime{
        color: 'pink';
        font-size: 2rem;
    }

    .toolbar-title {
        display: -webkit-inline-box;
    }

    .blockContent{
        background-color: rgb(219, 210, 219);
        height: 50px;
        width: 100%;
        word-wrap: break-word;
        white-space: nowrap;
        word-break: break-all;
    }

    .block{
        height: 5px;
        width: 100%;
        background-color: darkgray;
    }
}
