<div id="mySidenav" div class="sidenav">
  <a href="#" class="closebtn" onclick="closeNav()">
    &times;
  </a>
  <a href="#" (click) = "openHome()" >Divas Pop</a>
  <a href="#">Login de Novo</a>
</div>

<ion-item>
  <button ion-button block (click)="openNav()">Abrir</button>
</ion-item>

<div id="main">

</div>